
 <!-- </div class=>
    <div class="footer-padding"></div>
    <div class="footer">
        <p class="footertxt">D-Tech Official</p>
    </div>
    </div>
    -->
    <script src="/static.js"></script>
   
     </body>
 </html>

