<%- include("partials/header") -%>

<section>
    <img id="star" src="images/stars.png" alt="star">
    <img id="moon" src="images/moon.png" alt="moon">
    <img id="MB" src="images/mountains_behind.png" alt="mb">
    <h2 id="txt"> MOON LIGHT</h2>
    <a href='#' id="btn"> EXPLORE</a>
    <img id="Mf" src="images/mountains_front.png" alt="mf">
</section>
<article id="sec">
    <h2>The Glowing Moonlight Effects</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quo, expedita error repudiandae perferendis
    obcaecati velit, voluptatem nam quas mollitia nisi temporibus quisquam tempora magni sapiente quaerat esse illum
    nemo.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ornare arcu odio ut sem nulla pharetra diam sit. Sit amet nulla facilisi morbi tempus. Tincidunt dui ut
    ornare lectus sit. Donec enim diam vulputate ut pharetra sit amet. Vitae tempus quam pellentesque nec nam aliquam
    sem. Adipiscing diam donec adipiscing tristique risus. Maecenas sed enim ut sem viverra. Odio ut enim blandit
    volutpat maecenas volutpat. Suspendisse sed nisi lacus sed viverra tellus in hac. Quis commodo odio aenean sed
    adipiscing diam. Malesuada fames ac turpis egestas maecenas. Lacus laoreet non curabitur gravida arcu ac tortor.
    Elementum tempus egestas sed sed risus pretium quam vulputate. Mauris nunc congue nisi vitae suscipit tellus mauris
    a diam. Hendrerit gravida rutrum quisque non tellus orci ac auctor. Phasellus egestas tellus rutrum tellus
    pellentesque.
    Ac turpis egestas sed tempus urna et pharetra pharetra. Aliquam purus sit amet luctus.
    <br>
    Turpis egestas sed tempus urna. Venenatis a condimentum vitae sapien pellentesque. Tristique nulla aliquet enim
    tortor at auctor. Justo nec ultrices dui sapien eget mi proin. Sed enim ut sem viverra aliquet eget. At tempor
    commodo ullamcorper a. Nunc scelerisque viverra mauris in. Ac turpis egestas integer eget aliquet nibh praesent
    tristique. Diam quis enim lobortis scelerisque fermentum dui. Tempor orci dapibus ultrices in iaculis nunc sed augue
    lacus. Donec enim diam vulputate ut pharetra sit amet. Vitae ultricies leo integer malesuada. Nibh mauris cursus
    mattis molestie a iaculis. Vel facilisis volutpat est velit egestas dui id ornare. Eu facilisis sed odio morbi.
    Lobortis elementum nibh tellus molestie nunc non blandit massa. Quisque id diam vel quam elementum pulvinar etiam
    non. Non enim praesent elementum facilisis leo vel fringilla. Id interdum velit laoreet id donec ultrices.
      <br>
    Accumsan tortor posuere ac ut consequat semper viverra nam. Viverra suspendisse potenti nullam ac tortor vitae purus
    faucibus ornare. Sed nisi lacus sed viverra tellus in. Amet est placerat in egestas erat imperdiet. Mattis rhoncus
    urna neque viverra justo nec ultrices dui. Volutpat odio facilisis mauris sit amet massa. Pellentesque massa
    placerat duis ultricies. Neque vitae tempus quam pellentesque. Nibh nisl condimentum id venenatis a. Blandit massa
    enim nec dui nunc mattis. Et malesuada fames ac turpis egestas sed tempus urna. Odio facilisis mauris sit amet massa
    vitae. Eget sit amet tellus cras adipiscing enim eu turpis. Est velit egestas dui id. Risus viverra adipiscing at in
    tellus integer feugiat scelerisque varius. Viverra nam libero justo laoreet sit. Porttitor eget dolor morbi non arcu
    risus quis varius. Faucibus nisl tincidunt eget nullam non nisi est sit. A diam sollicitudin tempor id.
<br>
    Pretium aenean pharetra magna ac placerat vestibulum. Vel facilisis volutpat est velit egestas dui id. Amet
    facilisis magna etiam tempor. Sed nisi lacus sed viverra tellus in. Metus aliquam eleifend mi in nulla posuere.
    Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Tincidunt praesent semper feugiat nibh sed. Tincidunt nunc pulvinar sapien et ligula
    ullamcorper malesuada. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Duis at tellus at urna
    condimentum mattis pellentesque. Neque convallis a cras semper auctor neque vitae tempus.

    Ut lectus arcu bibendum at varius vel pharetra vel. Massa vitae tortor condimentum lacinia quis vel eros. Vulputate
    odio ut enim blandit volutpat maecenas volutpat. Dignissim sodales ut eu sem integer vitae justo. Faucibus ornare
    suspendisse sed nisi. Morbi non arcu risus quis varius quam quisque id. Venenatis cras sed felis eget velit aliquet
    sagittis. Nulla facilisi cras fermentum odio eu feugiat pretium. Neque ornare aenean euismod elementum nisi quis
    eleifend quam. Tellus pellentesque eu tincidunt tortor. Eget mi proin sed libero enim sed. Posuere sollicitudin
    aliquam ultrices sagittis orci a scelerisque. Velit laoreet id donec ultrices tincidunt arcu.
<br>
    Lectus arcu bibendum at varius. Nunc sed velit dignissim sodales ut eu. Proin fermentum leo vel orci porta non
    pulvinar neque. Sit amet nulla facilisi morbi tempus iaculis urna. Est velit egestas dui id ornare arcu. Dui sapien
    eget mi proin sed libero enim. Turpis egestas sed tempus urna. Elit ullamcorper dignissim cras tincidunt lobortis
    feugiat vivamus. Sem viverra aliquet eget sit amet tellus cras adipiscing. Nunc eget lorem dolor sed viverra. Proin
    gravida hendrerit lectus a. Vitae congue eu consequat ac felis. Tempor orci eu lobortis elementum nibh. Odio tempor
    orci dapibus ultrices in iaculis nunc sed augue. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor
    sit. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Quis ipsum suspendisse ultrices gravida
    dictum fusce.
    <br>
    Pretium aenean pharetra magna ac placerat vestibulum. Vel facilisis volutpat est velit egestas dui id. Amet
    facilisis magna etiam tempor. Sed nisi lacus sed viverra tellus in. Metus aliquam eleifend mi in nulla posuere.
    Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Tincidunt praesent semper feugiat nibh sed. Tincidunt nunc pulvinar sapien et ligula
    ullamcorper malesuada. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Duis at tellus at urna
    condimentum mattis pellentesque. Neque convallis a cras semper auctor neque vitae tempus.

    Ut lectus arcu bibendum at varius vel pharetra vel. Massa vitae tortor condimentum lacinia quis vel eros. Vulputate
    odio ut enim blandit volutpat maecenas volutpat. Dignissim sodales ut eu sem integer vitae justo. Faucibus ornare
    suspendisse sed nisi. Morbi non arcu risus quis varius quam quisque id. Venenatis cras sed felis eget velit aliquet
    sagittis. Nulla facilisi cras fermentum odio eu feugiat pretium. Neque ornare aenean euismod elementum nisi quis
    eleifend quam. Tellus pellentesque eu tincidunt tortor. Eget mi proin sed libero enim sed. Posuere sollicitudin
    aliquam ultrices sagittis orci a scelerisque. Velit laoreet id donec ultrices tincidunt arcu.
<br>
    Lectus arcu bibendum at varius. Nunc sed velit dignissim sodales ut eu. Proin fermentum leo vel orci porta non
    pulvinar neque. Sit amet nulla facilisi morbi tempus iaculis urna. Est velit egestas dui id ornare arcu. Dui sapien
    eget mi proin sed libero enim. Turpis egestas sed tempus urna. Elit ullamcorper dignissim cras tincidunt lobortis
    feugiat vivamus. Sem viverra aliquet eget sit amet tellus cras adipiscing. Nunc eget lorem dolor sed viverra. Proin
    gravida hendrerit lectus a. Vitae congue eu consequat ac felis. Tempor orci eu lobortis elementum nibh. Odio tempor
    orci dapibus ultrices in iaculis nunc sed augue. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor
    sit. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Quis ipsum suspendisse ultrices gravida
    dictum fusce.
    <br>
    Pretium aenean pharetra magna ac placerat vestibulum. Vel facilisis volutpat est velit egestas dui id. Amet
    facilisis magna etiam tempor. Sed nisi lacus sed viverra tellus in. Metus aliquam eleifend mi in nulla posuere.
    Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Sit amet consectetur adipiscing elit duis
    tristique sollicitudin. Tincidunt praesent semper feugiat nibh sed. Tincidunt nunc pulvinar sapien et ligula
    ullamcorper malesuada. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Duis at tellus at urna
    condimentum mattis pellentesque. Neque convallis a cras semper auctor neque vitae tempus.

    Ut lectus arcu bibendum at varius vel pharetra vel. Massa vitae tortor condimentum lacinia quis vel eros. Vulputate
    odio ut enim blandit volutpat maecenas volutpat. Dignissim sodales ut eu sem integer vitae justo. Faucibus ornare
    suspendisse sed nisi. Morbi non arcu risus quis varius quam quisque id. Venenatis cras sed felis eget velit aliquet
    sagittis. Nulla facilisi cras fermentum odio eu feugiat pretium. Neque ornare aenean euismod elementum nisi quis
    eleifend quam. Tellus pellentesque eu tincidunt tortor. Eget mi proin sed libero enim sed. Posuere sollicitudin
    aliquam ultrices sagittis orci a scelerisque. Velit laoreet id donec ultrices tincidunt arcu.
<br>
    Lectus arcu bibendum at varius. Nunc sed velit dignissim sodales ut eu. Proin fermentum leo vel orci porta non
    pulvinar neque. Sit amet nulla facilisi morbi tempus iaculis urna. Est velit egestas dui id ornare arcu. Dui sapien
    eget mi proin sed libero enim. Turpis egestas sed tempus urna. Elit ullamcorper dignissim cras tincidunt lobortis
    feugiat vivamus. Sem viverra aliquet eget sit amet tellus cras adipiscing. Nunc eget lorem dolor sed viverra. Proin
    gravida hendrerit lectus a. Vitae congue eu consequat ac felis. Tempor orci eu lobortis elementum nibh. Odio tempor
    orci dapibus ultrices in iaculis nunc sed augue. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor
    sit. Diam ut venenatis tellus in metus vulputate eu scelerisque felis. Quis ipsum suspendisse ultrices gravida
    dictum fusce.
</p></article>

<%- include("partials/footer") -%>